:host {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2BA4D3;
}

.logo {
    margin-bottom: 30px;
    width: 300px;
}

.form {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 20px;
}

.invalid-login-error {
    color: white;
    background-color: #d75353;
    border: 1px solid #b23a3a;
    border-radius: 4px;
    padding: 1rem;
}