    <div class="thumbnail">
        <img src="{{ product.thumbnail }}" alt="{{ product.id }}">
    </div>
    <section class="info">
        <div class="title-line">
            <h1 class="title">{{product.title}}</h1>
            <app-favourite-button 
                [selected]="(favSrv.isFavourite$(product.id) | async) || false"
                (selectedChange)="setFavourite($event)"
            ></app-favourite-button>
        </div>
        <p class="description">{{product.description}}</p> 
        <div>{{product.price}} €</div>
    </section>